- name: Configure base directory permission
  become: yes
  file:
    state: directory
    path: /srv
    mode: 0755
    owner: ubuntu
    group: ubuntu

- name: Create config directories
  file:
    state: directory
    path: "/srv/{{ item }}"
    mode: '0755'
  with_items:
    - prometheus
    - grafana/datasources

- name: Deploy prometheus config
  template:
    src: prometheus.yml.j2
    dest: /srv/prometheus/prometheus.yml

- name: Deploy grafana datasources
  template:
    src: datasources.yml.j2
    dest: /srv/grafana/datasources/prometheus.yml

- name: Deploy docker-compose config
  template:
    src: docker-compose.yml.j2
    dest: /srv/docker-compose.yml

- name: Create environment file
  file:
    state: touch
    path: /srv/.env
    mode: '0644'

- name: Configure environment user
  lineinfile:
    path: /srv/.env
    regexp: '^ADMIN_USER='
    line: "ADMIN_USER={{ grafana.username }}"

- name: Configure environment password
  lineinfile:
    path: /srv/.env
    regexp: '^ADMIN_PASSWORD='
    line: "ADMIN_PASSWORD={{ grafana.password }}"

- name: Run `docker-compose up -d`
  shell: docker-compose up -d
  args:
    chdir: /srv